.main
  .main__conteiner
    .main__conteiner--title
      Wish List
    .main__conteiner--message 
      欲しいお買い物のリストを作っておきましょう。
      %br/
      買う前に予定を立てて、本当に必要なものか考えることができます。
  .main__form
  
    = form_for @wish do |f|
      .main__form--month
        予定月を入力してください。<br>
        = f.number_field :month, min: 1, max: 12
        月
      .main__form--content
        欲しいものを入力してください。<br>
        = f.text_field :content
      .main__form--cost
        予定金額を入力してください。<br>
        = f.text_field :cost
        円
      -# #user-modal
      -# = f.submit '登録', class: 'submit-btn'
      -# = f.submit '登録', remote: true, class: "btn btn-lg, btn-primary" 
      


      .container.text-center
        %button.btn.btn-primary.mt-5{"data-target" => "#post", "data-toggle" => "modal", type: "button"} 登録
        #post.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
          .modal-content
            ああああああ
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} 取消
          = f.submit "登録", class: "btn btn-primary"

  .main__lists
    .main__list
      %table
        %thead
          %tr
            %th.head-month 予定月
            %th.head-text 欲しいもの
            %th.head-cost 予定金額
            -# %th{:colspan => "3"}
        %tbody
          -@wishes.each do |wish|
            %tr
              %td.body-month= wish.month
              %td.body-text= wish.content
              %td.body-cost= converting_to_jpy(wish.cost)
              %td.table-btn= link_to '変更', wishes_path(id: wish.id), class:'edit-btn'
              %td.table-btn= link_to '削除', wish, method: :delete, class:'delete-btn'

.footer
  .footer__left 予定合計
  .footer__money= converting_to_jpy(@total_cost)
  .footer__right 予定残高
  .footer__money= converting_to_jpy(@wish_balance)
