.main
  .main__form
  = form_for @wish do |f|
    .main__form--month
    希望月を入力してください。<br>
    = f.number_field :month, min: 1, max: 12
    .main__form--content
    希望を入力してください。<br>
    = f.text_field :content
    .main__form--cost
    予定金額を入力してください。<br>
    = f.number_field :cost
    = f.submit '登録', class: 'submit-btn'

  .main__lists
    .main__list
    %table
      %thead
        %tr
          %th 希望月
          %th 希望
          %th 予定金額
          -# %th{:colspan => "3"}
      %tbody
        -current_user.wishes.each do |wish|
          %tr
            %td= wish.month
            %td= wish.content
            %td= wish.cost
            %td= link_to '変更', wishes_path(id: wish.id)

            %td= link_to '削除', wish, method: :delete

.footer__left
  .footer__left--balance
  予定残高
  = @wish_balance
  円
.footer__right
  .footer__right--total
  予定合計
  = @total_cost
  円