.side-bar
  .side-bar__list
    .side-bar__list--name
      = current_user.name
      さま
    .side-bar__list--incomes
      .user-attribute 収入
      .user-money= converting_to_jpy(current_user.incomes)
    .side-bar__list--fixedcosts
      .user-attribute固定費
      = converting_to_jpy(current_user.fixedcosts)
    .side-bar__list--savings
      .user-attribute貯蓄額
      = converting_to_jpy(current_user.savings)
    .side-bar__list--balance
      .user-attribute残高
      = converting_to_jpy(@user_balance)          
  = link_to '変更', edit_user_registration_path, class:'side-btn'