.title-container
  .title-container__title Money Wish List
  .title-container__subtitle 〜人生１００年時代を生き抜く〜
  .title-container__message
    お金のこと考えていますか？
    %br/
    人生１００年時代、
    %br/
    自分のお金と時間をどう使うか考えてみませんか？
    %br/
  

.form-container
  .form-container__login Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-container__login--email
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", required:"required"
    .form-container__login--password
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password", required:"required"
    .form-container__login--remember
    - if devise_mapping.rememberable?
    
      = f.check_box :remember_me
      = f.label :remember_me
    = f.submit "Log in", class: 'login-btn'
  .form-container__link
  = render "users/shared/links"
