.main
  .main__conteiner
    .main__conteiner--title
      Record List
    .main__conteiner--message 
      大きな額のお買い物をしたら記録しましょう。
      %br/
      １年間であといくら使えるかわかります。
  .main__form
    = form_for @record do |f|
      .main__form--month
        購入月を入力してください。<br>
        = f.number_field :month, min: 1, max: 12
        月
      .main__form--content
        購入したものを入力してください。<br>
        = f.text_field :content
      .main__form--cost
        購入金額を入力してください。<br>
        = f.number_field :cost, required:"required"
        円

      .container.text-center
        %button.btn.btn-info{"data-target" => "#post", "data-toggle" => "modal", type: "button"} 登録
        #post.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
          .modal-dialog{role: "document"}
            .modal-content
              .modal-content__label
                貯蓄マメ知識
              .modal-content__title
                = @advice.title
              .modal-content__text
                = @advice.text
              .modal-content__btn
                %button.btn.btn-secondary.btn-lg{"data-dismiss" => "modal", type: "button"} 取消
                = f.submit "登録", class: "btn btn-danger btn-lg"

  .main__lists
    .main__list
      %table
        %thead
          %tr
            %th.record-month 購入月
            %th.record-text 購入したもの
            %th.record-cost 購入金額
        %tbody
          -@records.each do |record|
            %tr
              %td.body-month= record.month
              %td.body-text= record.content
              %td.body-cost= converting_to_jpy(record.cost)
              %td.table-btn= link_to '変更', records_path(id: record.id), class:'edit-btn'
              %td.table-btn= link_to '削除', record, method: :delete, class:'delete-btn'

= render "footer"
  
 