!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MoneyWishList
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__title
      Money Wish List
      .header__right
        = link_to "Wish List へ", wishes_path, class: "header__right--btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
    .wrapper
      = yield
