= render "guide"

.create-container
  %h2.create-container__edit アカウントを変更 
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    -# = render "devise/shared/error_messages", resource: resource
    .create-container__edit--email
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", required:"required"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .create-container__edit--passward
      = f.label :password
      %i （変更する場合は入力して下さい。）
      %br/
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          文字以上
    .create-container__edit--passward
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .create-container__edit--passward
      = f.label :current_password
      %i （変更を確認するには現在のパスワードが必要です。）
      %br/
      = f.password_field :current_password, autocomplete: "current-password", required:"required"
    .create-container__edit--incomes
      = f.label :年収
      %br/
      = f.number_field :incomes, required:"required"
      円
    .create-container__signup--savings
      = f.label :１年間の目標貯蓄額
      %br/
      = f.number_field :savings, required:"required"
      円
    .fixedcosts
      .create-container__signup--fixedcosts
        = f.label :１年間の固定費（生活費等）
        = f.number_field :fixedcosts, required:"required"
        円
        = f.submit "Update", class:'update-btn'
      
  = render "average"  
  = render "calculator"

  .btn-container
    = link_to "Back", :back, class:'back'

    .cancel 退会してもよろしいですか? #{button_to "退会", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'draw-btn'}

   
  