.guide-container
  %h1.guide-container__title Money Wish List
  %h2.guide-container__subtitle 〜人生１００年時代を生き抜く〜
  %h3.guide-container__message
    1年間でどれくらい大きな額のお買い物をしていますか？ 
    %br/
    %br/
    .list Record List
    %br/
    大きな額のお買い物をしたら記録しましょう。
    %br/
    １年間であといくら使えるかわかります。
    %br/
    %br/
    %br/
    .list Wish List
    %br/
    ほしい大きなお買い物をリスト化しておきましょう。
    %br/
    買う前に予定を立てて、本当に必要なものか考えることができます。


.create-container
  %h2.create-container__signup Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    .create-container__signup--name
      = f.label :お名前
      %br/
      = f.text_field :name, autofocus: true
    .create-container__signup--email
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .create-container__signup--password
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .create-container__signup--password
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .create-container__signup--incomes
      = f.label :年収
      %br/
      = f.number_field :incomes

    .fixedcosts
      .create-container__signup--fixedcosts
        = f.label :１年間の固定費（生活費等）
        %br/
        = f.number_field :fixedcosts
    

      .model  
        %a.js-modal-open{href: ""} こちらで年代別の平均生活費を見る
      .modal.js-modal
        .modal__bg.js-modal-close
        .modal__content
          %p 世帯主の年代別年間消費支出
          %p ※こちらはあくまでも目安です。
          %table.spending-table
            %tbody
              %tr
                %td.age ２０代
                %td.spending 2,757,600円
              %tr
                %td.age ３０代
                %td.spending 3,117,600円
              %tr
                %td.age ４０代
                %td.spending 3,835,200円
              %tr
                %td.age ５０代
                %td.spending 4,292,400円
              %tr
                %td.age ６０代 
                %td.spending 3,716,400円
              %tr
                %td.age ７０代
                %td.spending 3,366,000円
          %p 総務省「家計調査年報」／2017年
          
          %a.js-modal-close#close{href: ""} 閉じる

    .create-container__signup--savings
      = f.label :１年間の目標貯蓄額
      %br/
      = f.number_field :savings
    -# .action
    = f.submit "Sign up", class: 'signup-btn'
    -# = link_to "Sign up", "/wishes/:id", class: 'signup-btn'
    = render "users/shared/links"
